name: Reusable CI Template

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string

jobs:
  build:
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Print message
        run: echo "Runner used: ${{ inputs.runner }}"